.timer {
  display: flex;
  gap: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
